:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

h1 {
  margin: 15px auto 0 auto;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div div {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

ul {
  width: 100%;
  padding: 0;
}

li {
  border-top-color: lightgray;
  border-top-width: 1px;
  border-top-style: solid;
  list-style: none;
  padding: 15px;
}

span {
  float: right;
}

input, button{
  border-radius: 5px;
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

input {
  width: 300px;
  margin: 15px;
}

button {
  background-color: transparent;
  margin: 15px 15px 15px 0;
}